:root{
    --clr-primary-300: #FE3EED9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #e8e8e8;
    --clr-neutral-900: #222C2A;
}

*{
    box-sizing: border-box;
    margin:0;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: rgb(51, 51, 51);
}
body{
    background-color: rgb(51, 51, 51);
}
.bg_div{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url(img/tianyi-ma-WiONHd_zYI4-unsplash.jpg); */
}
.section{
    padding:0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 100vh;
}

.portfolio_card{
    width:70%;
    margin: auto;
    border: 1px solid whitesmoke;
    border-radius: 0.25rem;
    padding-bottom:1rem;
    margin-bottom:1.5rem;
    background-color: rgb(51, 51, 51);
    backdrop-filter: blur(1px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.486);
}
.portfolio_card:hover{
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.819);
    border: 1px solid whitesmoke;
}
.cardimg_div{
    width: 95%;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(245, 245, 245, 0.23);
}
.card_img_top{
    width:100%;
}
.card_h{
    font-weight: bold;
    padding-left:0.7rem;
    padding-top:0.5rem;
    margin-bottom: 0.5rem;
}
.card_text{
    padding-left:0.7rem;
    width:95%;
    font-size:0.9rem;
    text-align: justify;
}
.cardbuttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top:1rem;
}
.cardbutton{
    color:rgb(255, 208, 18);
    width: fit-content;
    border: 1px solid rgb(255, 208, 18);
    border-radius: 0.25rem;
    padding:0.3rem;
}
.cardbutton a{
    color:rgb(255, 208, 18);
}
.cardbutton:hover,.cardbutton:hover a{
    background-color: rgb(255, 208, 18);
    color:black;
    transition: 200ms;
}
.nav_link{
    text-decoration: none;
}
header{
    height: 3rem;
    position: sticky;
    top:0;
    background-color: rgb(27, 27, 31);
    z-index: 10000;
}

footer{
    /* height: 3rem; */
    position: sticky;
    bottom:0;
    padding:1rem;
    background-color: rgba(29, 29, 29, 0.124);
    backdrop-filter: blur(3px);
}
#navbar_bottom{
    width:80%;
    margin:auto;
    margin-bottom:0.5rem;
}
.bottom_nav_item{
    max-width: fit-content;
}
.footer_a{
    margin-left:1rem;
    margin-right:1rem;
    
}
.footer_a:hover {
    color:#ffffff;  
}
.footer_svg{
    vertical-align: middle;
    
}
h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
#h_myname{
    text-align: left;
    margin-top:0;
    margin-bottom: 0.7rem;
}
h3{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
a{
    color:rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.p_paragraph{
    text-align: justify;
    margin-top: 0.3rem;
    margin-bottom:0.5rem;
}
.active a{
    color:rgb(255, 255, 255);
}
#kontakt{
    text-align: center;
}
#kontaktlink{
    color:rgb(255, 208, 18);
    position: relative;
}
#kontaktlink::after{
    content:'';
    position: absolute;
    border: 1px solid rgb(255, 208, 18);
    border-radius: 0.2rem;
    height: 130%;
    width:130%;
    top:-15%;
    left:-17%;
}
.navbar_nav{
    line-height: 3rem;
}
#logo_div{
    height: 3rem;
    /* background-color: blueviolet; */
    margin-left: 4em;
    display: flex;
    align-items: center;
}
#mylogo{
    vertical-align: middle;
    height:2.7rem;
}
#check{
    display: none;
}
#label_check{
    /* display: block; */
    display: none;
    /* background-color: lightsteelblue; */
    background-image: url(img/ham_1.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 2.5rem;

    user-select: none;
    color: white;
    font-size: 1.7rem;
    padding-left: 1rem;
    cursor: pointer;


}
.myhr{
    width: 90%;
    margin: auto;
}
.codinglanguagecontainers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.codinglanguagecontainer{
 text-align: center;
 margin-bottom:2rem;
 width:10rem;
}




.h_sectioncontent{
    text-align: left;
    margin-bottom: 1rem;
}
.about_sectioncontent{
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pers_info_50{
    margin-bottom: 1rem;
    width:50%;
}
.pers_info_25{
    padding:0.25rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: whitesmoke;
    text-align: center;
    width:19%;
    
}
.pers_info_25_active{
    padding:0.25rem;
    border-radius: 0.25rem 0.25rem 0 0;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: whitesmoke;
    text-align: center;
    width:19%;
    position: relative;
    top: 1px;
    z-index: 500;
    background-color: rgb(34, 34, 34);

}
.pers_info_25_inactive{
    padding:0.25rem;
    position: relative;
    top: 1px;
    z-index: 500;
    border-radius: 0.25rem 0.25rem 0 0;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    background-color: rgb(39, 39, 39);
    width:19%;
    text-align: center;
}
.pers_info_25_inactive:hover, .pers_info_25_inactive:hover p{
    cursor: pointer;
    color:whitesmoke;
}
.pers_info_25_active p{
    font-weight: bold;
}
.pers_info_25_inactive p{
    color:rgb(187, 187, 187);
}
.pers_info_25:hover, .pers_info_25:hover p{
    background-color: whitesmoke;
    color: rgb(51, 51, 51);
    font-weight: bold;
    cursor: pointer;
}

.info_txt_div{
    border-radius: 0.25rem;
    padding:0.4rem;
    padding-top: 0.5rem;
    width: 100%;
    height: 10.5rem;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px);
    border-color: rgba(245, 245, 245, 0);
}






@media only screen and (min-width: 720px) {
    header{
        display: grid;
        grid-template-columns: auto 70% auto;
    }
    ul{
        line-height: 3rem;
        display: flex;
        justify-content: space-evenly;
        width:95%;
    }
    .kontakt{
        position: absolute;
        right: 70px;
    }
    .sectioncontent{
        margin: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .card_col{
        width: 50%;
    
    }
    #navbar_bottom{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction:row-reverse;
    }

    .codinglanguagecontainers{
        width:100%;
        margin: auto;
    }
    .codinglanguagecontainer{
        width:25%;
    }
    #about{
        display: flex;
    }
    .about_flex{
        padding:1rem;
        width:50%;
    }
}



@media only screen and (max-width: 720px) {
    header{
        display: flex;
        justify-content: space-between;}
    ul{
        display: block;
    }
    .navbar_top{
        display: none;
    }
    #logo_div{
        position: absolute;
        z-index: 1025;
    }
    #label_check{
        display: block;
        width:100%;
        
    }
    .navbar_nav{
        line-height:2rem;
    }
    #logo_div{
        margin-left: 2em;
    }
    

    /* Wenn Checkbox aktiv, wird Nav-Element sichtbar */
    #check:checked ~ .navbar_top{
        margin-top: 3rem;
        padding-top: 0.5rem;
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgb(26, 26, 26);
        padding-bottom: 0.5rem;
    }
    .sectioncontent{
        margin: auto;
        width: 100%;
        display: block;
    }
    .card_col{
        width: 100%;
    
    }
    #navbar_bottom{
        display: block;
    }
    .bottom_nav_item{
        margin: auto;
        margin-bottom: 0.5rem;
    }
    footer{
        padding-top:0.3rem;
        height: 4rem;
    }
    .codinglanguagecontainers{
        width:100%;
    }
    .codinglanguagecontainer{
        width:50%;
    }
    #language_card{
        width:100%;
        margin-top:4rem;
    }

}

